
body {
    /*background-image:url('2017-V2bwequipment-tar.jpg');*/
    /*background-size: cover;*/
    margin: 0;
    padding: 0;
    height: auto;
    width: 100%;
    color: darkslategrey;
}

.header-container {
    margin: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: darkslategrey;
}

.header-detail {
    background-color: skyblue;
    border-radius: 10px;
    flex-direction: column;
    width: 90px;
    height: auto;
    padding: 10px;
}

#current-temperature {
    font-size: 2.5rem;
    font-style: italic;
    height: 90px;
    text-align: center;
    margin: auto 0;
    color: black;
}

.special-statements {
    padding: 10px;
    line-height: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: auto;
    text-align: center;
    color: orangered;
    visibility: hidden;
    font-family: 'Fresca', sans-serif;
    font-size: larger;
}

h2, .summaryTitles {
    font-style: normal;
    font-weight: 600;
    font-size: 1.2rem;
    color: gray(25%);
    line-height: 1.7rem;
    text-align: center;
    text-decoration: underline;
    text-underline-style: dash-long;
}

.alerts {
    text-emphasis: orangered;
}

.weather-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
}

.card {
    margin: 20px auto;
    max-width: 33%;
    padding: 10px 15px;
    flex-basis: auto max-content;
    text-align: center;
    border-radius: 10px;
    background-color: skyblue;
    opacity: .9;
    border: solid 1px black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    font-size: 1.3rem;
    text-align: left;
    color: darkslategrey;
    font-family: 'Fresca', sans-serif;
    padding: 1.5em;
    float: right;
}

#current-precip-type {
    visibility: hidden;
}

footer {
    height: 2em;
    background-color: lightskyblue;
    position: fixed;
    bottom: 0;
    color: darkslategray;
    font-size: 1em;
    width: 100%;
}

footer p, p a {
    padding-right: 40px;
    padding-top: 4px;
    color: black;
    height: 1.5rem;
    float: right;
    margin: auto;
}

@media all and (max-device-width: 400px) {

    .weather-container, .header-container .forecast-container {
        /* On small screens, we are no longer using row direction but column */
        display: flex;
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-between;
    }

}