


body {
    /*background: url(https://orig13.deviantart.net/64e8/f/2010/230/0/6/skies_of_blue_by_naturedrop.jpg) no-repeat top center fixed;*/
    background-size: cover;
    background-color: lightslategrey;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#current-icon {
    width: 90px;
    height: 90px;
    border: none;
    border-radius: 50px;
    padding: 30px;
    display: flex;
    margin: 3% auto 20px;
}

#noLocation {
    display: block;
    color: red;
}
#alerts {
    padding: 10px;
    height: auto;
    text-align: center;
    color: red;
    visibility: hidden;
    font-family: 'Fresca', sans-serif;
    font-size: larger;
}
#temperature-icon {
    width: 20px;
    height: 23px;
}

.summaryTitles {
    font-style: normal;
    font-weight: 600;
    font-size: 1.2rem;
    color:#ffffff;
    line-height: 2rem;
}

#current-temperature {
    width: 165px;
}


#current-weather-details {
    margin: 2% auto;
    max-width: 80%;
    height: auto;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
    background-color: lightslategrey;
    opacity:.7;
}

a {
    width: 200px;
    font-size: 3rem;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Fresca', sans-serif;
    letter-spacing: 0.2px;
    cursor: default;
}
h2 {
    text-align: center;
    display: block;
    width: 100%;
    color: #FFFFFF;
    font-size: 1.4rem;
    padding: 0;
    margin: 0 75px 10px;


}

#current-temperature {
    cursor: pointer;
}

#weather-summary {
    max-width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    border-radius: 10px;
    font-family: 'Fresca', sans-serif;
    font-size: 20px;
    font-style: italic;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    line-height: 2rem;
    opacity: 0.8;
}

footer p {
    display: block;
    text-align: center;
    background-color:cornflowerblue;
    color:darkslategray;
    font-size:1.5rem;
    max-width: 80%;
    padding: 10px;
    margin: 0 auto;
}

/*  SECTIONS  */
.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}

/*  COLUMN SETUP  */
.col {
    display: block;
    float:left;
    margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }


/*  GROUPING  */
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 */
}

/*  GRID OF THREE  */
.span_3_of_3 {
    width: 100%;
}
.span_2_of_3 {
    width: 66.1%;
}
.span_1_of_3 {
    width: 32.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
    .col { margin: 1% 0 1% 0%;}
    .span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}