
body {
    /*background-image:url('2017-V2bwequipment-tar.jpg');*/
    /*background-size: cover;*/
    background-color: aliceblue;
    margin: 0;
    padding: 0;
    height: auto;
    width: 100%;
    color: darkslategrey;
    font-family: Fresca, "Droid Sans", sans-serif;
    font-size : 1rem;
}

.header-container {
    width: 20%;
    margin: 5px auto;
    display: flex;
    flex-direction: row;
}

.header-detail {
    /*background-color: skyblue;*/
    border-radius: 10px;
    width: 100px;
    height: auto;
    padding: 10px;
}

#current-temperature {
    font-size: 2.5rem;
    font-style: italic;
    text-align: center;
    color: black;
}

.special-statements {
    height: auto;
    text-align: center;
    color: orangered;
    visibility: hidden;
    font-family: 'Fresca', sans-serif;
    font-size: larger;
    margin: 0 auto;
}
#location {
    display: none;
    width: 40%;
}
#alerts {
    width: 40%;
    color: darkred;
    visibility: hidden;
    text-decoration: none;
    font-weight: bolder;
    background-color: lightblue;
    padding: 10px;
    border-radius: 10px;
    border: solid 1px darkred;
}
#weather-statement-card {
    display: none;
    font-size: 0.9rem;
    flex-basis: 100%;
    order: -1;
}
.alerts {
    color: darkred;
    font-size: larger;
    font-weight: bolder;
}
h2, .category {
    font-style: normal;
    font-weight: 600;
    font-size: 1.2rem;
    color: gray(25%);
    line-height: 1.7rem;
    text-align: center;
    text-decoration: underline;
    text-underline-style: single-accounting;
}

.weather-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-evenly;
    align-items: stretch;
}

.card {
    margin: 20px 10px;
    padding: 10px;
    flex-basis: 19%;
    text-align: center;
    border-radius: 10px;
    background-color: skyblue;
    opacity: .9;
    border: solid 1px black;
}

.card-table {
    margin: 20px 10px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    background-color: skyblue;
    opacity: .9;
    border: solid 1px black;
    max-height: 330px;
    flex-basis: fit-content;
    overflow: scroll;
}
.card-table:last-child{
    overflow: hidden;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#current-precip-type {
    visibility: hidden;
}

.weather-container-table {
    display: flex;
    width: 90%;
    justify-content: center;
    flex-basis: max-content;
    margin: 0 auto 50px;
}
td, tr {
    margin: 0 10px;
}
footer {
    height: 2em;
    background-color: lightskyblue;
    position: fixed;
    bottom: 0;
    font-size: 1rem;
    width: 100%;

}
footer a {
     margin: 0 20px;
     padding-top: 7px;
    padding-right: 20px;
     text-decoration: none;
     color: darkslategrey;
     float: right;
     text-align: center;
}

@media all and (max-device-width: 400px) {
.header-container {
    width: 30%;
    height: auto;

}
    .weather-container, .header-container .forecast-container {
        /* On small screens, we are no longer using row direction but column */
        font-size: 2rem;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        flex-basis: 85%;
    }

    .alerts {
        font-size: 2.5rem;
        font-weight: bold;
    }
#alerts {
    font-size: 3rem;
    width: 90%;
}
}